*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navcont{
    height: 4rem;
    background-color:rgb(91 33 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    /* border-radius: 5px; */
    /* margin: 0.1rem; */
    margin-bottom: 0.1rem;
  }
  
  
  .icons{
    height: 100%;
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons:hover{
    background-color: rgb(143, 143, 198);
  }
  #menu{
    transition: all 0.1s;
  }
  
  #icons-chat{
    background-color:rgb(91 33 182);
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .container {
    display: flex;
    height: 80%;
  }
  .left-div {
    flex: 2;
    max-width: 30%;
    
  }
  
  .connections{
    background-color: rgb(91 33 182);
    width: 450px;
    height:680px;
    text-align: center;
    
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: auto;
  
  background-color: rgb(91 33 182);
  padding: 10px;
  grid-gap: 7px;
  }
  
  .grid-item {
  background-color:#AEA0D6;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  }
  
  .connect{
  font-size: 30px;
  background-color: rgb(91 33 182);
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  }
  
  h5{
    margin-left: 50px;
    color: white;
  }
  
  .right-div {
    flex: 3; 
    display: block;
  }
  
  .i{
    float: left;
    color:#50285a;
    display: flex;
    align-items: center;
  }
  
  .icon{
    border-radius: 50%;
    background-color: rgb(91 33 182);
  }
  
  .top{
    display: flex;
    background-color: #AEA0D6;
    height:80px;
    width:100%;
    justify-content: flex-start;
    
  }
  
  
  img{
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .msg-header{
    margin-left:20px;
    margin-top: 15px;
    color: rgb(91 33 182);
    display:block;
  }
  
  
  h4{
    color: white;
   display: inline ;
  }
  
  
  /* Styling the chat box container */
  .chat-page {
    padding: 0 0 50px 0;
    height: 520px;
  }
  
  .msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  .chats {
    padding: 30px 15px 0 25px;
    height: 520px;
    border:5px solid rgb(91 33 182);
  }
  
  /* Styling the message page */
  
  .msg-page {
    max-height: 520px;
    overflow-y: auto;
  }
  
  /* Styling the msg-bottom container */
  .msg-bottom {
    border-top: 1px solid #ccc;
    position: relative;
    height: 12%;
    background-color:#D8CDF7;
  }
  
  
  /* Styling the input field */
  .input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 65% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  
  .form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
  }
  
  .send-icon {
    font-weight: bold !important;
  }