body{
    background-color: rgb(91 33 182);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    height: 400px;
    width: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border: 4px solid plum; 
    padding: 25px;
    margin: 17px;
    
    border-radius: 5px;
    animation: glow 3s infinite; 

}
@keyframes glow {
    0% { border-color: white; }
    50% { border-color: purple; }
    100% { border-color: rgba(59, 66, 235, 0.3); }
}

#header{
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 10px;
}

button{
    min-width: 400px;
    height: 150px;
    max-width: 700px;
    background-color: plum;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    color:black;
}


#premium{
    color: white;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    transition: 0.3s;
    text-decoration: none;
}
button:hover{
    background-color: rgb(238, 122, 226);
    transform: scale(1.1);
}

@keyframes glow{
    0% { box-shadow: 0 0 5px rgba(255, 255,255, 0.5); }
    50% { box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
    100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
}

button:active{
    animation: glow 0.5s ease-in-out;
}
.flip-container{
    perspective: 1000px;
}

.flip-container:hover .flipper{
    transform: rotateY(180deg);
}

.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100%;
}

.front{
    z-index: 2;
    transform: rotateY(0deg);
    
}

.back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.centre{
    border-radius: 1.5px solid white;
    height: 50px;
    /* width: 2%; */
    
}

.foot{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cnt{
    text-decoration: none;
    font-size: 150%;
    color: black;
}
.text{
    font-size: 150%;
}



